<div class="alert alert-info hide" role="alert">
    <strong></strong>
</div>

<div class="alert alert-danger hide" role="alert">
    <strong></strong>
</div>

<div class="alert alert-success hide" role="alert" >
    <strong></strong>
</div>

<div class="alert alert-warning hide" role="alert" >
    <strong></strong>
</div>

<span class="flash">
    {{ if .flash.success }}
        <div class="alert alert-success">
        {{ .flash.success | str2html}}
        </div>
    {{ end }}
    {{ if .flash.error }}
        <div class="alert alert-danger">
        {{ .flash.error | str2html}}
        </div>
    {{ end }}
    {{ if .flash.warning }}
        <div class="alert alert-warning">
        {{ .flash.warning | str2html}}
        </div>
    {{ end }}
    {{ if .flash.notice }}
        <div class="alert alert-info">
        {{ .flash.notice | str2html}}
        </div>
    {{ end }}
</span>