<form>
    <div class="form-group">
        <label for="id_input">ID</label>
        <input type="text" class="form-control" id="id_input" name="id" readonly value="175">
    </div>
    <div class="form-group">
        <label for="name_input">Name</label>
        <input type="text" class="form-control" id="name_input" name="name">
    </div>
    <div class="form-group">
        <label for="type_input">Type</label>
        <input type="text" class="form-control" id="type_input" name="type">
    </div>
    <div class="form-group">
        <label for="phone_input">Phone</label>
        <input type="number" class="form-control" id="phone_input" name="phone">
    </div>
    <div class="form-group">
        <label for="location_input">Location</label>
        <input type="text" class="form-control" id="location_input" name="location">
    </div>
    <button id="edit-submit" type="submit" class="btn btn-primary">Save</button>
</form>