<div class="grey-light brd-rdius-2">
    <p class="txt-center mrgn-b5 ln-hgt-2 fnt-size-18 bold">Create Invoice</p>
</div>
<div class="grey-light container-fluid pdng-t20">
    <div class="mrgn-b20 flt-l">
        <span class="bold flt-l dsp-inbl"> Description: </span>
        <span class="flt-l mrgn-l5 wdt-80-pr">
            This feature enables you to recreate a driver invoice in case of EZcount error
      </span>
    </div>

    <form role="form" id="search-by-driver-id" class="flt-l wdt-100-p mrgn-b10" data-toggle="validator">
        <span class="wdt-105 dsp-inbl"> Driver ID </span>
        <input id="driver-id" name="driver-id" type="number" required="true" minlength="1"
               class="mrgn-l5 form-control dsp-inbl max-wdt-285 fnt-grey"
               placeholder="Insert the Driver ID (e.g 1325334)">
        <btn type="submit" class="search btn btn-default wdt-126 dsp-inbl  flt-r">
            <span class="mrg-l15"> Search</span>
        </btn>
    </form>

    <div id="driver-details hidden">
        <form role="form" action="/ezcount_invoice_create" method="post" id="create-invoice"
              class="flt-l wdt-100-p mrgn-b20" data-toggle="validator">

            <div class="flt-l wdt-100-p mrgn-b40">
                <span class="wdt-105 dsp-inbl"> Driver Name </span>
                <span id="driver-name" class="break-wrd max-wdt-285 mrgn-l5 fnt-grey">
                Will be displayed according to search
            </span>
                <input id="driver-external-id" name="driver-external-id" type="hidden">  </input>
            </div>

            <span class="wdt-105  dsp-inbl"> Invoice month</span>
            <select name="invoice-month" id="month" required="true"
                    class="mrgn-l5 form-control dsp-inbl max-wdt-285 fnt-grey">
                <option value=""> Select the invoice month</option>
            </select>
            <button type="submit" form="create-invoice" value="submit"
                    class="create btn btn-default btn-primary wdt-126 dsp-inbl  flt-r">
                <span class="mrg-l15"> Create Invoice</span>
            </button>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        recreateInvoice = new RecreateInvoice();
    })
</script>
