{{ asset_js "main" }}

{{/*<form id="search-by-name-form" class="form-inline" method='GET'>*/}}
    {{/*<div class="col-sm-offset-4" >*/}}
        {{/*<label for="res-name-input">Restaurant Name:</label>*/}}
        {{/*<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="res-name-input">*/}}
        {{/*<button type="submit" class="btn btn-primary">Search</button>*/}}
    {{/*</div>*/}}
{{/*</form>*/}}

<div id="restaurants-container" class="row">
    <table id="restaurants" class="table table-bordered center-table"></table>
</div>
